NEXT_PUBLIC_NHOST_SUBDOMAIN=dtorlkbinlxdvyymrxey
NEXT_PUBLIC_NHOST_REGION=ap-south-1
NEXT_PUBLIC_NHOST_GRAPHQL_URL=https://dtorlkbinlxdvyymrxey.graphql.ap-south-1.nhost.run/v1
NEXT_PUBLIC_NHOST_AUTH_URL=https://dtorlkbinlxdvyymrxey.auth.ap-south-1.nhost.run/v1
NEXT_PUBLIC_NHOST_STORAGE_URL=https://dtorlkbinlxdvyymrxey.storage.ap-south-1.nhost.run/v1
NEXT_PUBLIC_NHOST_FUNCTIONS_URL=https://dtorlkbinlxdvyymrxey.functions.ap-south-1.nhost.run/v1
